*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.design{
    background-color: blue;
    width: 40%;
    padding: 1rem 1rem 3rem;
}


.img-container{
    margin-bottom: 1.5rem;
}


img{
    border-radius: 50%;
    width: 30%;
}


h2{
    font-weight: 700px;
    font-size: 24px;
    margin-bottom: 4px;
}


.mail{
    font-size: 15px;
}


h3{
    font-weight: 700px;
    font-size: 36px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


.push{
    margin-left: 30px;
    margin-bottom: 2.5rem;
}


a {
    font-weight: 500px;
    background-color: azure;
    color: blue;
    padding: 20px 14px;
    border-radius: 26px;
}